*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    color: #111;
    margin-top: 0;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #777;
    background-color: #FFF;
    line-height: 2;
    letter-spacing: 1px;
    background: #111;
    display: block;
}
html{
    scroll-behavior: smooth;
}
.header{
    font-size: 12px;
    height: 55px;
    width: 100%;
    z-index: 9999;
    background-color: #262626;
    line-height: 54px;
    position: fixed;
    display: block;
}
.envato-logo{
    float: left;
    padding: 0 20px;
}
.envato-logo a{
    position:absolute;
    top:18px;
    text-indent:-9999px;
    height:18px;
    width:152px;
    background:url(https://public-assets.envato-static.com/assets/logos/envato_market-a5ace93f8482e885ae008eb481b9451d379599dfed24868e52b6b2d66f5cf633.svg);
}
.actions-buy a{
    display: inline-block;
    background-color: #7aa93c;
    font-size: 14px;
    line-height: 1.5;
    color: white;
    border-radius: 4px;
    text-align: center;
    margin-left: 90%;
    padding: 5px 20px;
    font-family: 'Halvetica Neue',Arial, Helvetica, sans-serif;
    box-shadow:  0 2px 0 #6f9a37;
    text-decoration: none;
    cursor: pointer;
}
.navbar{
    height: 100px;
    padding: 0 5%;
    border-radius: 0;
    z-index: 9999;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    justify-content: center;
}
.navbar-fixed-top {
    top: 54px;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.9);
    height: 90px;
}
.navbar-header {
    float: left;
}
.navbar-title {
    height: 100px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 10px;
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
}
a{
    text-decoration: none;
    background-color: transparent;
}
.navbar-title img {
    max-width: 200px;
    height: auto;
    border: none;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
}
.navbar.sticky .navbar-title img {
    max-width: 100px;
    height: auto;
    transition: all 0.5s ease-in-out;
}
.navbar-collapse {
    max-height: 340px;
    padding-right: 0;
    padding-left: 0;
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navbar-nav {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
}
.nav{
    padding-left: 0;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.navbar-nav li{
    float: none;
    height: 60px;
    padding: 0px 20px;
    display: table-cell;
    vertical-align: middle;
}
.navbar-nav li a{
    line-height: 20px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0;
    vertical-align: middle;
}
.nav li a{
    display: block;
}
.navbar.sticky{
    top: 54px;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.9);
    box-shadow: 0 3px 5px rgba(173, 0, 255, 0.3);
    height: 70px;
}
.navbar.sticky .navbar-title {
    height: 70px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #AD00FF;
    display: table-cell;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
}
.navbar.sticky .navbar-nav.nav-text-light  li {
    height: 45px;
    transition: all 0.5s ease-in-out;
}
.main-top {
    width: 100%;
    height: 721px;
}
.main-top .main-content {
    width: 100%;
    height: 100%;
    display: table;
}
.main-top .main-content .container.content {
    display: table-cell;
    vertical-align: middle;
}
.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.text-center {
    text-align: center;
}
.main-top .main-content h1 {
    margin: auto;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 15px;
    margin-bottom: 0;
    line-height: 1.1;
}
hr {
    width: 50px;
    height: 3px;
    background-color: #AD00FF;
    margin: 30px auto;
    border: 0;
    box-sizing: content-box;
}
.main-top .main-content h2 {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 20px;
    margin-bottom: 0;
    -webkit-animation: fadeInRight 2s;
    animation: fadeInRight 2s;
    line-height: 1.1;
}
.main-top .scroll-down {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}
.main-top .row a {
    color: #AD00FF;
    font-weight: 400;
    content: '';
    display: block;
    border-bottom: 5px solid #AD00FF;
    border-right: 5px solid #AD00FF;
    transform: rotate(45deg);
}
.section {
    float: left;
    width: 100%;
    background-color: #FFF;
}
.padding-bottom {
    padding-bottom: 200px;
}
.padding-top {
    padding-top: 200px;
}
#about h2 {
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.color {
    color: #AD00FF;
}
strong{
    font-weight: 700;
}
#about h3 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 1.3;
    padding-top: 30px;
    margin-bottom: 10px;
}
#about p {
    padding-top: 50px;
    margin-bottom: 0;
}
.section.about .box1 {
    padding: 80px;
    background-color: #AD00FF;
}
.section.about .box2 {
    padding: 80px;
    background-color: #8200BF;
}
.section.about .box3 {
    padding: 80px;
    background-color: #56007F;
}
.col3 {
    width: 33.33333333%;
    float: left;
}
.section.about h3 {
    color: #FFF;
    letter-spacing: 1px;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    display: block;
}
.section.about p {
    font-size: 13px;
    color: #FFF;
    line-height: 1.5;
    padding-top: 20px;
    margin-bottom: 0;
}
.section.services {
    float: left;
}
.section-heading {
    text-align: center;
    margin-bottom: 50px;
}
.section-heading h2 {
    letter-spacing: 5px;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}
.services .section-content p {
    padding-bottom: 100px;
    text-align: center;
}
.col4 {
    width: 25%;
    float: left;
}
.services ion-icon {
    font-size: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}
ion-icon{
    color: #AD00FF;
}
.services .section-content h4 {
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}
.section.dark {
    background-color: #AD00FF;
    padding: 100px 0;
}
.section.dark h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 10px;
    line-height: 2;
    padding: 0 5px;
    margin-bottom: 10px;
}
.section.dark .btn {
    color: #FFF;
    border: 3px solid #FFF;
    margin-top: 30px;
}
.btn{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 10px 30px;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
}
.team {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    display: block;
}
.team .mask {
    background-color: #AD00FF;
    opacity: 0;
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    top: 0;
    left: 0;
}
.team h2{
    opacity: 0;
    background: transparent;
    margin: 20px 40px 0px 40px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;    
    font-size: 25px;
    padding-top: 120px;
    font-weight: 500;
    line-height: 1.1;
}
.team p {
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 2;
    opacity: 0;
}
.section.dark h3 {
    color: #FFF;
    line-height: 1.5;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
}
.filter_group {
    margin-bottom: 30px;
}
.filter_group .filter.active {
    color: #56007F;
}
.filter_group .filter {
    cursor: pointer;
    padding: 0 20px;
    font-size: 16px;
}
a{
    color: #AD00FF;
    font-weight: 400;
}
.work-item-wrapper {
    height: 100%;
    overflow: hidden;
}
.isotope {
    margin: 0 auto;
}
.work-item {
    float: left;
    overflow: hidden;
    padding: 0;
    width: 25%;
}
.work-item img {
    width: 100%;
    border: none;
    vertical-align: middle;
}
.work-item .image-overlay {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #AD00FF;
}
.work-item .image-overlay a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #AD00FF;
    font-weight: 400;
}
.work-item .work-item-info {
    position: absolute;
    left: 0;
    bottom: 50%;
    height: 50px;
    margin-bottom: -2.5em;
    width: 100%;
    text-align: center;
    color: #fff;
}
.work-item .work-item-info h3 {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}
#purchase.section {
    padding: 50px;
    background-color: #F7F7F7;
}
.partner-table {
    display: table;
    width: 100%;
    height: 100%;
}
.col12 {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
#purchase.section .btn {
    border: 3px solid #111;
    color: #111;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: transparent;
    display: inline-block; 
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
}
button{
    font-family: inherit;
    overflow: visible;
    margin: 0;
    font: inherit;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
}
.section.newsletter {
    padding: 100px 0;
}
.section.newsletter h3 {
    color: #333;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
}
.section.newsletter input {
    width: 80%;
    max-width: 800px;
    text-align: center;
}
input{
    border: none;
    border-bottom: 1px solid rgba(30, 30, 30, 0.3);
    padding: 10px 20px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font: inherit;
    color: inherit;
}
.section.newsletter .btn {
    margin-top: 50px;
}
.btn{
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: transparent;
    color: #AD00FF;
    border: 3px solid #AD00FF;
    display: inline-block;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
}
.section.newsletter {
    padding: 100px 0;
}
.section.testimonials {
    padding: 100px 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #FFF;
}
.section.testimonials h2, .section.testimonials p {
    color: #FFF;
}
.section-heading h2 {
    letter-spacing: 5px;
}
.section.testimonials hr {
    background-color: #FFF;
}
.section.clients {
    background-color: #F7F7F7;
    padding: 50px 0;
    margin: 0;
    text-align: center;
}
.col6 {
    width: 16.66666667%;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.section.clients img {
    max-height: 75px;
    width: auto;
    margin: 20px 0;
    cursor: pointer;
    opacity: 0.7;
}
.contact-info ion-icon {
    font-size: 30px;
    padding-bottom: 20px;
}
.contact-info h4{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}
.contact-info p {
    font-size: 12px;
    padding-left: 0px;
}
.contact-form {
    padding-top: 100px;
}
.col2 {
    width: 50%;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col12 {
    width: 100%;
    float: left;
}
input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(30, 30, 30, 0.3);
    padding: 10px 20px;
    margin: 0;
}
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(30, 30, 30, 0.3);
    padding: 15px;
    min-height: 200px;
    margin: 100px 0 50px 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: auto;
    font: inherit;
    color: inherit;
}
.section.social {
    background-color: #111;
    padding: 50px 0;
}
.section.social img {
    width: 200px;
    margin-bottom: 30px;
}
.section.social a ion-icon {
    color: #FFF;
    font-size: 30px;
    padding: 0 20px;
}
#footer {
    background-color: #56007F;
    color: #FFF;
}
.copyright {
    font-size: 11px;
    letter-spacing: 3px;
    padding-top: 10px;
    text-align: center;
}
#btnTop{
    display: block;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 9999;
}
#btnTop a{
    border-radius: 0;
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    transition: all 1s ease-in-out;
}
#btnTop a ion-icon {
    font-size: 50px;
    color: #AD00FF;
}
.btn:hover {
    color: #FFF;
    background-color: #AD00FF;
}
.section.dark .btn:hover {
    color: #AD00FF;
    background-color: #FFF;
}
#purchase.section .btn:hover {
    border: 3px solid #111;
    background-color: #111;
    color: #FFF;
}
ion-icon:hover {
    color: #56007F;
}
.section.social a ion-icon:hover {
    color: #AD00FF;
}
#team img:hover{
    transform: scale(1.5);
}

